@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-weight: 700;
}

#public {
  width: 100px;
  height: 100px;
}

#profile-pic {
  width: 200px;
  height: 200px;
}

.nav-link {
  color: #6f7379;
  font-weight: 700;
}

.search-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  align-content: center;
  height: auto;
  width: 250px;
}

.pin-container, .board-container {
  position: relative;
  width: 50%;
}

.top {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#CACACA;
  color: #251617;
  font-weight: 700;
}

.pin-container:hover .top {
  opacity: 0.3;
}

.pin-container:hover .middle {
  opacity: 1;
}

.board-container:hover .top {
  opacity: 0.3;
}

.board-container:hover .middle {
  opacity: 1;
}

i {
  color: #6f7379;
}

.card {
  border-radius: 20%;
}

.card-body {
  padding: 20px;
}

.card-link {
  color: black;
}

h5 {
  color: black;
}

button {
  justify-items: center
  !important;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em;
  font-family: 'Lato', sans-serif;
}

.resp-sharing-button__icon svg {
  width: 2em;
  height: 2em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--email {
  background-color: #777
}

// .resp-sharing-button--facebook {
//   background-color: #3b5998;
//   border-color: #3b5998;
// }

// .resp-sharing-button--facebook:hover,
// .resp-sharing-button--facebook:active {
//   background-color: #2d4373;
//   border-color: #2d4373;
// }

// .resp-sharing-button--twitter {
//   background-color: #55acee;
//   border-color: #55acee;
// }

// .resp-sharing-button--twitter:hover,
// .resp-sharing-button--twitter:active {
//   background-color: #2795e9;
//   border-color: #2795e9;
// }

// .resp-sharing-button--email {
//   background-color: #777777;
//   border-color: #777777;
// }

// .resp-sharing-button--email:hover,
// .resp-sharing-button--email:active {
//   background-color: #5e5e5e;
//   border-color: #5e5e5e;
// }
